
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#050510;
    color:#fff;
    padding:30px;
}

.container{
    max-width:1400px;
    margin:auto;
}

/* Header */

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.back-btn{
    padding:12px 20px;
    border:1px solid #6d42ff;
    border-radius:12px;
    background:#111129;
    color:white;
    cursor:pointer;
}

.logo{
    text-align:center;
}

.logo h1{
    font-size:42px;
    letter-spacing:2px;
}

.logo span{
    color:#8b5cf6;
}

.logo p{
    color:#b8b8d1;
    margin-top:5px;
    letter-spacing:3px;
}

.stats{
    display:flex;
    gap:20px;
}

.box{
    background:#111129;
    border:1px solid #6d42ff;
    padding:12px 25px;
    border-radius:12px;
}

/* Main Card */

.main-card{
    display:grid;
    grid-template-columns:1fr 420px;
    gap:25px;
    background:#0e0e23;
    border:1px solid #6d42ff;
    border-radius:15px;
    padding:30px;
}

.left h2{
    color:#ff4fd8;
    margin-bottom:20px;
}

.tag{
    display:inline-block;
    padding:5px 10px;
    border-radius:6px;
    font-size:13px;
    margin-left:10px;
}

.html{
    background:#ff6b35;
}

.css{
    background:#3b82f6;
}

.left p{
    color:#d0d0d0;
    margin:15px 0;
}

.left ul{
    margin-left:20px;
    line-height:35px;
}

/* Preview */

.preview{
    border-left:1px solid #373767;
    padding-left:25px;
}

.preview h3{
    margin-bottom:20px;
    color:#ff4fd8;
}

.card{
    background:linear-gradient(135deg,#6d28d9,#1e3a8a);
    border-radius:18px;
    padding:40px;
    text-align:center;
    box-shadow:0 0 25px rgba(130,70,255,.4);
}

.icon{
    width:70px;
    height:70px;
    border-radius:50%;
    background:#7c3aed;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:auto;
    font-size:32px;
}

.card h2{
    margin:20px 0 15px;
}

.card p{
    color:#ddd;
    margin-bottom:25px;
}

.card button{
    padding:14px 35px;
    border:none;
    border-radius:10px;
    background:linear-gradient(to right,#ff2ec4,#5d5fff);
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

.card button:hover{
    transform:scale(1.08);
    box-shadow:0 0 20px #9d4edd;
}

/* Code Area */

.code-section{
    margin-top:25px;
    background:#0e0e23;
    border:1px solid #6d42ff;
    border-radius:15px;
    padding:20px;
}

.code-header{
    display:flex;
    justify-content:space-between;
    margin-bottom:15px;
    color:#ff4fd8;
}

textarea{
    width:100%;
    height:250px;
    background:#101010;
    color:#7cff7c;
    border:none;
    outline:none;
    padding:20px;
    border-radius:10px;
    font-size:16px;
    resize:none;
}

/* Footer */

.footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:20px;
}

.help{
    background:#111129;
    border:1px solid #6d42ff;
    padding:15px 20px;
    border-radius:12px;
}

.info{
    color:#ddd;
}

.submit ,
.code{
    padding:15px 45px;
    border:none;
    border-radius:12px;
    background:linear-gradient(to right,#ff2ec4,#5d5fff);
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}


.code:hover,
.submit:hover{
    transform:scale(1.05);
}

@media(max-width:900px){

.main-card{
grid-template-columns:1fr;
}

.preview{
border-left:none;
padding-left:0;
}

.header{
flex-direction:column;
gap:20px;
}

.footer{
flex-direction:column;
gap:20px;
}
}